<div class="container">
  <h1>chatroom</h1>
  <form class="form-inline">
    <div class="form-group">
      <input type="text" id="chat-input" class="form-control" />
      <button id="button" class="btn btn-primary">送信</button>
    </div>
  </form>
  <div id="messages">
    <ul class="list-group">
      <%= render @messages %>
    </ul>
  </div>
</div>